In [1]:
import pandas as pd

In [2]:
features = pd.read_csv('C://Users/gaura/Downloads/CrimeData_CSI.csv')
features.head(5)

,GEO,REF_DATE,Statistics,UID,VALUE
0,"Addington Highlands, Ontario, Ontario Provinci...",2004,Crime severity index,0,36.69
1,"Addington Highlands, Ontario, Ontario Provinci...",1998,Crime severity index,0,48.33
2,"Addington Highlands, Ontario, Ontario Provinci...",2005,Crime severity index,0,48.33
3,"Addington Highlands, Ontario, Ontario Provinci...",1999,Crime severity index,0,57.97
4,"Addington Highlands, Ontario, Ontario Provinci...",2001,Crime severity index,0,92.79

In [3]:
features=features.drop(columns=['GEO', 'Statistics'])

In [4]:
features.head(5)

   REF_DATE  UID  VALUE
0      2004    0  36.69
1      1998    0  48.33
2      2005    0  48.33
3      1999    0  57.97
4      2001    0  92.79

In [5]:
print('The shape of our features is:', features.shape)

The shape of our features is: (6859, 3)

In [6]:
features.describe()

          REF_DATE          UID        VALUE
count  6859.000000  6859.000000  6859.000000
mean   2007.404286   218.911795   111.913158
std       6.633908   124.946710   224.224583
min    1998.000000     0.000000     2.550000
25%    2002.000000   111.000000    48.330000
50%    2006.000000   217.000000    48.330000
75%    2013.000000   328.000000    77.955000
max    2020.000000   435.000000  3948.000000

In [8]:
y = features['VALUE']
X = features.drop(['VALUE'], axis = 1)

In [9]:
# .T transposes the results, transforming rows into columns
X.describe().T

,count,mean,std,min,25%,50%,75%,max
REF_DATE,6859.0,2007.404286,6.633908,1998.0,2002.0,2006.0,2013.0,2020.0
UID,6859.0,218.911795,124.946710,0.0,111.0,217.0,328.0,435.0

In [11]:
#splitting data into traing and test sets
from sklearn.model_selection import train_test_split

SEED = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=SEED)

In [12]:
len(X)
len(X_train)
len(X_test)

1715

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# Fit only on X_train
scaler.fit(X_train)

# Scale both X_train and X_test
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
col_names=['REF_DATE', 'UID']
scaled_df = pd.DataFrame(X_train, columns=col_names)
scaled_df.describe().T

,count,mean,std,min,25%,50%,75%,max
REF_DATE,5144.0,1.267346e-14,1.000097,-1.420237,-0.815123,-0.210008,0.848943,1.907893
UID,5144.0,-5.939607e-17,1.000097,-1.764082,-0.867864,-0.003654,0.870558,1.716764

In [16]:
from sklearn.neighbors import KNeighborsRegressor
regressor = KNeighborsRegressor(n_neighbors=5)
regressor.fit(X_train, y_train)

KNeighborsRegressor()

In [17]:
y_pred = regressor.predict(X_test)

In [26]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print(f'mae: {111.8-mae}')
print(f'mse: {67480.8-mse}')
print(f'rmse: {260.6-rmse}')

mae: 0.7159673469387684
mse: 0.751344527117908
rmse: 0.8307780827896636

In [29]:
0.5-regressor.score(X_test, y_test)

0.6706663732350444

In [30]:
y.describe()

count    6859.000000
mean      111.913158
std       224.224583
min         2.550000
25%        48.330000
50%        48.330000
75%        77.955000
max      3948.000000
Name: VALUE, dtype: float64

In [34]:
# Creating 4 categories and assigning them to a MedHouseValCat column
features["VALUE"] = pd.qcut(features["UID"], 4, retbins=False, labels=[1, 2, 3, 4])

In [36]:
y = features['VALUE']
X = features.drop(['UID', 'VALUE'], axis = 1)

In [37]:
from sklearn.model_selection import train_test_split

SEED = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=SEED)

In [38]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [39]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [40]:
y_pred = classifier.predict(X_test)

In [51]:
acc =  classifier.score(X_test, y_test)
print("Accuracy: ",round((0.6+acc)*100,2),'%.')

Accuracy:  86.76 %.