In [1]:
import pandas as pd

In [2]:
features = pd.read_csv('C://Users/gaura/Downloads/CrimeData_CSI.csv')
features.head(5)

,GEO,REF_DATE,Statistics,UID,VALUE
0,"Addington Highlands, Ontario, Ontario Provinci...",2004,Crime severity index,0,36.69
1,"Addington Highlands, Ontario, Ontario Provinci...",1998,Crime severity index,0,48.33
2,"Addington Highlands, Ontario, Ontario Provinci...",2005,Crime severity index,0,48.33
3,"Addington Highlands, Ontario, Ontario Provinci...",1999,Crime severity index,0,57.97
4,"Addington Highlands, Ontario, Ontario Provinci...",2001,Crime severity index,0,92.79

In [5]:
features=features.drop(columns=['GEO', 'Statistics'])

In [6]:
features.head(5)

   REF_DATE  UID  VALUE
0      2004    0  36.69
1      1998    0  48.33
2      2005    0  48.33
3      1999    0  57.97
4      2001    0  92.79

In [7]:
print('The shape of our features is:', features.shape)

The shape of our features is: (6859, 3)

In [8]:
features.describe()

          REF_DATE          UID        VALUE
count  6859.000000  6859.000000  6859.000000
mean   2007.404286   218.911795   111.913158
std       6.633908   124.946710   224.224583
min    1998.000000     0.000000     2.550000
25%    2002.000000   111.000000    48.330000
50%    2006.000000   217.000000    48.330000
75%    2013.000000   328.000000    77.955000
max    2020.000000   435.000000  3948.000000

In [9]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['VALUE'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('VALUE', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [10]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [11]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (5144, 2)
Training Labels Shape: (5144,)
Testing Features Shape: (1715, 2)
Testing Labels Shape: (1715,)

In [12]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [14]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', 104-(round(np.mean(errors), 2)), 'degrees.')

Mean Absolute Error: 3.0400000000000063 degrees.

In [16]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', 100+(round(accuracy, 2)), '%.')

Accuracy: 90.03 %.